<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Natural Code Insight Bridge"
            id="de.bund.zrb.natural.codeinsightbridge.views">
      </category>
      <view
            name="AST Explorer"
            icon="icons/sample.gif"
            category="de.bund.zrb.natural.codeinsightbridge.views"
            class="de.bund.zrb.natural.ui.AstExplorerView"
            id="de.bund.zrb.natural.ui.AstExplorerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="de.bund.zrb.natural.ui.AstExplorerView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
