<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.8"?>

<target name="Natural Code Insight Bridge Target" sequenceNumber="1">
  <locations>
    <location type="InstallableUnit">
      <repository location="http://download.eclipse.org/releases/neon/"/>
      <unit id="org.eclipse.platform.sdk" version="4.6.3"/>
    </location>
  </locations>

  <environment>
    <os>win32</os>
    <ws>win32</ws>
    <arch>x86_64</arch>
  </environment>
</target>
